body {
	padding: 0px;
	margin: 0px;
	font-family: 'Trebuchet MS', verdana;
}

.navigation {
	background-color: #999f8e;
	width: 20%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	padding-top: 40px;
}

.content {
	width: 80%;
	background-color: #d2d8c7;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
}
